body{
    color: white;
    font-size:1em;
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    text-decoration: none;
    

}
h1{
    color: #112D4E ;
    font-size: 70px;
    font-family: 'Open Sans', sans-serif;
    margin-top: 0;
    font-size: 700;
}
.nav{
    
    color: white;
    background-color:#112D4E ;
    height: 60px;
    margin: 0;
    padding:0;
    width: 100%;
    position:fixed;
    top: -2px;
    color: white;
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    align-items: center;
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    text-decoration: none;
    text-transform: capitalize;
    font-size:1.5em;
}


.home{
    margin: 2em;
    font-size:1.3em;
}
.nav div{
    flex-basis:  200px ;
    
}
.nav div:nth-of-type(1){
    flex-grow:2;
}
#about{
    width: 100%;
    height:100%;
    background: white;
    margin: 0;
    padding: 0;
    
   
}
.info{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;


}
.text{
  font-weight: 200;
  text-align: left;
  font-size: 30px;
  padding-left: 30px;
  padding-right: 30px;
 

}

h2{
    text-align: center;
    font-size: 50px;
    letter-spacing: 4px;
    color: #112D4E;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    

}
h3{
    text-align: center;
    font-size: 40px;
    margin-top: 0;
}
.image img{
    width: 70vh;
    height:70vh;
    border-radius:1.5em;
  
 
    top: 130px;
    left: 220px;
    
}
.context{
    background-color: rgb(92, 184, 221);
    border-radius: 20px;
  
}
.info div{
    flex-basis:90vh;

}
h1{
    text-align: center;
    padding-top:80px;
}
#skills{
    background-color: lightcyan;
    height: 120%;
    width: 100%;
    margin: 0;
    padding: 20px;
}
#box{
    color: grey;
    width: 700px;
    height: 600px;
    margin:0 auto;
    background:linear-gradient(to right,rgb(200, 230, 144),rgb(255, 255, 181));
    padding:20px;
    border-radius: 10px;

   
    
 
    

}

#top{
    height:10px;
    width:700px;
    margin: 0 auto;
    background-color:grey;
    padding: 20px;
    border-radius: 5px;
    margin-top: 0;
}
.circle{
    width:20px;
    height: 20px;
    background-color: hotpink;
    border-radius: 50%;
    float: left;
    margin-right:7px;
}
.lan{
    font-size:2em;
    margin-bottom: .5em;
    padding:.3em;
}
.bar0{
    width: 600px;
    height: 35px;
    background-color: green;
    margin-left: 7px;
}
.bar1{
    width: 400px;
    height: 35px;
    background-color: yellowgreen ;
    margin-left: 7px;
}
.bar2{
    width:300px;
    height: 35px;
    background-color: orange;
    margin-left: 7px;
}
.bar3{
    width:100px;
    height: 35px;
    background-color: red;
    margin-left: 7px;

}
#hobbies{
    background:linear-gradient(to right,#c7f0d7,#d6e4db);
    height: 120%;
    width: 100%;
    margin: 0;
    padding: 20px;
    text-transform: capitalize;
}
#hobbies div table{
    width:50%;
    height:50%;
    background:linear-gradient(to left,#FE8F8F,#e06868);
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
    font-size:2em;
    border-radius: 10px;
    margin-top: 15px;
    box-shadow: -12px -12px 2px 1px rgba(224, 104, 104,.2)
    
}
#hobbies div table tr td img{
    width: 60%;
    height:60%;
    border: white 2px solid;
    margin-top:15px;
    background:linear-gradient(#ee605e,#fd7270);
    border-radius: 10px;
    box-shadow: -6px -6px 2px 1px rgba(247, 0, 0, 0.253)
}
#hobbies div h2{
    font-size:50px;
}
.act{
    font-weight: 800;
    border: white 2px solid;
    margin-left:20px;
    border-radius: 10px;
    padding:10px 20px;
    box-shadow: -6px -6px 2px 1px rgba(255, 0, 0, 0.2)
    
}
#contact{
    padding: 3px;
    color: black;
    text-align: center;
    letter-spacing: 3px;
    text-decoration: underline black solid;
}
#contact img{
   
    border-radius: 20%;
    scale: 80%;
    margin: 10px 120px;
    border-width: 10px;
    border:white 10px solid ;
    transition: .15 ease-in;
    
    
}
#footer{
    letter-spacing: 2.5px;
    background-color: grey;
    text-align: center;
    font-size: 15px;
    font-weight: 200;
    width: 100%;
    height:80px;
    
}
a{
    color: white;
    text-decoration: none;
    transition:  .15s ease-in;
}
a:hover{
    
    color: rgb(90, 180, 187);
    text-decoration: underline;
    
   
}
#contact img:hover{
   
    border:rgb(192, 173, 173) 10px solid ;
    
    
}
